.background-all {
  background-image: url(./assets/images/background/1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}
